body {
  margin: 0px;
  background: black;
  user-select: none;
  font-family: default-font;
}

#config {
  display: none;
}

#quiz-board {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: calc(100% - 60px);
  width: calc(100% - 60px);
  padding: 30px;
}

#quiz-board > .start-btn {
  display: none;
  position: relative;
  top: 40%;
  width: 150px;
  height: 150px;
  background: #9c3a3a;
  border-radius: 10%;
  box-shadow: 0px 10px 0px #481d1d;
  transition: 0.9s;
}
#quiz-board > .start-btn.on {
  display: block;
}
#quiz-board > .start-btn.clicked {
  opacity: 0;
  background: #3a9c5a;
  box-shadow: 0px 10px 0px #1d4822;
}

#quiz-board > .status {
  display: none;
  color: white;
  width: 60%;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}
#quiz-board > .status.on {
  display: flex;
}

#quiz-board > .status > .case {
  display: none;
  height: 55%;
  font-size: 70px;
  padding-top: 50px;
}

#quiz-board > .status span.bad{
  color: red;
  font-size: 180px;
  font-weight: 900;
}
#quiz-board > .status span.good{
  color: yellow;
  font-size: 180px;
  font-weight: 900;
}
#quiz-board > .status span.bussy{
  color: orange;
  font-size: 90px;
}

#quiz-board > .status > .case.on {
  display: block;
}

#quiz-board > .status > .countdown {
  display: none;
  height: 140px;
  min-height: 140px;
  width: 140px;
  line-height: calc(140px + 2px);
  border-radius: 50%;
  border: 1px dotted gray;
}
#quiz-board > .status > .countdown.on {
  display: block;
}
#quiz-board > .status > .countdown > span {
  transform: translateX(-50%);
  position: absolute;
}
#quiz-board > .status > .countdown > .tick {
  width: inherit;
  height: inherit;
  position: absolute;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}
#quiz-board > .status > .countdown > .tick::after {
  content: '';
  display: block;
  border-right: 1px dotted gray;
  width: 50%;
  height: 50%;
}

#quiz-board > .keyboard > div {
  background: white;
  height: calc(20% - 30px/4 - 20px);
  margin-bottom: 20px;
  border-radius: 50%;
  text-align: center;
  transition: 0.1s;
  box-shadow: 0px 4px 2px gray;
}
#quiz-board > .keyboard > div.clicked {
  background: black;
  color: white;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  } to {
      transform: rotate(360deg);
  }
}

@media only screen and (max-width: 630px) {
  #quiz-board > .start-btn {
    width: 50px;
    height: 50px;
  }
  #quiz-board > .status > .case {
    font-size: 20px;
  }
  #quiz-board > .status span.bad{
    font-size: 80px;
  }
  #quiz-board > .status span.good{
    font-size: 80px;
  }
  #quiz-board > .status span.bussy{
    font-size: 20px;
  }
  #quiz-board > .status > .countdown {
    height: 60px;
    min-height: 60px;
    width: 60px;
    line-height: calc(60px + 2px);
  }
}

@media only screen and (min-width: 1400px) {
  #quiz-board > .start-btn {
    width: 200px;
    height: 200px;
  }
  #quiz-board > .status > .case {
    font-size: 140px;
  }
  #quiz-board > .status span.bad{
    font-size: 360px;
  }
  #quiz-board > .status span.good{
    font-size: 360px;
  }
  #quiz-board > .status span.bussy{
    font-size: 120px;
  }
  #quiz-board > .status > .countdown {
    height: 250px;
    min-height: 250px;
    width: 250px;
    line-height: calc(250px + 2px);
  }
}

@font-face {
  font-family: default-font;
  src: url('../fonts/apple-sd-gothic-neo-regular.otf');
}
