body {
  margin: 0px;
  background: black;
}

#config {
  display: none;
}

#quiz-board {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: calc(100% - 60px);
  width: calc(100% - 60px);
  padding: 30px;
}

#quiz-board > .status {
  color: white;
  width: 60%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

#quiz-board > .status > .case {
  display: none;
  height: 50%;
  font-size: 70px;
  padding-top: 100px;
}

#quiz-board > .status span.bad{
  color: red;
  font-size: 200px;
  font-weight: 900;
}
#quiz-board > .status span.good{
  color: yellow;
  font-size: 200px;
  font-weight: 900;
}
#quiz-board > .status span.bussy{
  color: orange;
  font-size: 100px;
}

#quiz-board > .status > .case.on {
  display: block;
}

#quiz-board > .status .description {
  font-size: 50px;
}

#quiz-board > .status > .countdown {
  display: none;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px dotted gray;
}
#quiz-board > .status > .countdown.on {
  display: block;
}
#quiz-board > .status > .countdown > span {
  line-height: 152px;
  transform: translateX(-50%);
  position: absolute;
}
#quiz-board > .status > .countdown > .tick {
  width: inherit;
  height: inherit;
  position: absolute;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}
#quiz-board > .status > .countdown > .tick::after {
  content: '';
  display: block;
  border-right: 1px dotted gray;
  width: 50%;
  height: 50%;
}

#quiz-board > .keyboard > div {
  background: white;
  height: calc(20% - 30px/4 - 20px);
  margin-bottom: 20px;
  border-radius: 50%;
  text-align: center;
  transition: 0.2s;
  box-shadow: 0px 4px 2px gray;
}

#quiz-board > .keyboard > div.clicked {
  background: black;
  color: white;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  } to {
      transform: rotate(360deg);
  }
}
